@import 'Colors.css';


.rootPane{
    -fx-background-color: -color-second;
}

.rootPane .title{
    -fx-font-size: 30px;
    -fx-text-fill: -color-marronClair;
}

.rootPane .logo{
    -fx-background-color: -color-marron;
    -fx-background-radius: 35;
    -fx-background-image: url("../img/logo.png");
    -fx-background-size: 190;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: -color-primary;
    -fx-border-width: 10px;
    -fx-border-radius: 25;
}