@import 'Colors.css';



/**************************************************
 * Root
**************************************************/
.rootPane {
    -fx-background-color: -color-second;
    -fx-background-radius: 10;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 10;
}

.rootPane .about{
    -fx-background-color: -color-primary;
    -fx-background-radius: 5;
    -fx-text-fill: #fff;
    -fx-padding: 15 20;
    -fx-cursor: hand;
}


.rootPane .title{
    -fx-font-size: 30px;
    -fx-text-fill: -color-marronClair;
}

.test{
    -fx-background-color: #F00;
}