@import 'Colors.css';
@import "../font/font.css";


/**************************************************
 * Root
**************************************************/
.rootPane {
    -fx-font-family: "Exo";
    -fx-background-color: -color-background;
    -fx-background-radius: 10;
    -fx-border-color: #ebebeb;
    -fx-border-radius: 10;
}

.rootPane .about{
    -fx-background-color: -color-vert-clair;

    -fx-background-radius: 5;
    -fx-text-fill: #000000;
    -fx-padding: 15 20;
    -fx-cursor: hand;
}


.rootPane .title{
    -fx-font-weight: 900;
    -fx-font-size: 40px;
    -fx-text-fill: -color-vert-clair;
    /*-fx-font-family: 'Protest Riot', sans-serif;*/
}

.test{
    -fx-background-color: #F00;
}

.rootPane .logo_simple {
    /*-fx-background-color: -color-marron;*/
    -fx-background-radius: 20px;
    -fx-background-position: center;
    -fx-background-image: url("../img/logo_simple.png");
    -fx-background-size: 65px;
}