@import 'Colors.css';
@import "../font/font.css";

.simulateur {
    /*-fx-background-color: #FFF;*/
    -fx-background-radius: 0 0 10px 10px;
    -fx-text-fill: #000D;
}

.simulateur *{
    -fx-font-family: Exo;
}

.simulateur .titre{
    -fx-padding: 0 20px 0 0;
    -fx-font-size: 20px;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header-background .filler,
.table-view .corner,
.table-view .table-cell{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header-background,
.table-row-cell:odd,
.table-row-cell:even{
    -fx-background-color: #0000;
    -fx-background-radius: 7px;

    -fx-alignment: center;

    -fx-min-height: 35;

    /*-fx-padding: 10px;
    -fx-border-insets: 15px;
    -fx-background-insets: 5px;*/
}

.table-view .column-header-background{
    -fx-background-color: -color-vert-clair;

    -fx-padding: 10;

    -fx-font-size: 14px;
    -fx-font-weight: 900;
}


.table-view .column-header{
    -fx-background-color: #0000;
    -fx-alignment: center;
}

.table-row-cell:odd,
.table-row-cell:even{
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #0002;
}

.table-view *{
    -fx-alignment: center;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb,
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: -color-background;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

/*
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row {
    -fx-border-color: #000 !important;
    -fx-border-width: 0 0 10 0 !important;
}


.table-row-cell:odd,
.table-row-cell:even{
    -fx-background-insets: 0,0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

#tableSimu.mfx-table-view{
    -fx-background-color: #0000;
    -fx-border-width: 0;
}

#tableSimu.mfx-table-view .columns-container .mfx-table-column{
    -fx-border-color: #0000;
    -fx-font-size: 14px;
    -fx-text-fill: #000;
    -fx-font-weight: 900;
}

#tableSimu.mfx-table-view .columns-container .mfx-table-column .mfx-icon-wrapper{
    -fx-cursor: hand;
    -fx-background-color: -color-vert-clair;
}

#tableSimu.mfx-table-view .columns-container .mfx-table-column .mfx-icon-wrapper .mfx-font-icon{
    -mfx-color: #000;
}

#tableSimu.mfx-table-view .columns-container, #table.mfx-table-view .virtual-flow .mfx-table-row{
    -fx-background-color: -color-vert-clair;
    -fx-background-radius: 5px;

    -fx-border-width: 0;

    -fx-padding: 0 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}


#tableSimu.mfx-table-view .virtual-flow .mfx-table-row .mfx-table-row-cell{
    -fx-alignment: center;
    -fx-text-fill: #000;
}

#tableSimu.mfx-table-view .virtual-flow .scroll-bar:vertical .track{
    -fx-background-color: -color-vert-clair;
}

#tableSimu.mfx-table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #FFF;
}

#tableSimu.mfx-table-view *{
    -fx-text-fill: #FFF;
    -fx-text-alignment: center !important;
}*/


.valid{
    -fx-min-width: 60px;
    -fx-min-height: 60px;

    -fx-background-color: -color-background;
    -fx-background-radius: 30;
    -fx-border-radius: 10;
    -fx-text-fill: #FFF;
    -fx-font-size: 20;
    -fx-font-weight: 900;
    -fx-padding: 5;
    -fx-cursor: hand;

    -fx-background-image: url("../img/save.png");
    -fx-background-size: 47px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.valid:hover{
    -fx-background-position: 12px center;
}
